.langContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .langItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 190px;
        margin-bottom: 30px;
        margin-right: 30px;

        a img {
            height: 100px;
            width: 100px;
            object-fit: contain;
        }

        .textBlock {
            text-align: center;
        }
    }
}